<!doctype html>
<html>
<head>
  <title>従業員一覧</title>
  <meta charset="utf-8">
  <title>CSS</title>
  <style>
    .jb-xx-small { font-size: xx-small; }
    .jb-x-small { font-size: x-small; }
    .jb-small { font-size: small; }
    .jb-medium { font-size: medium; }
    .jb-large { font-size: large; }
    .jb-x-large { font-size: x-large; }
    .jb-xx-large { font-size: xx-large; }
  </style>
  <style>
     table, th, td {
        border: 3px solid black;
        border-collapse:collapse;
     }
  </style>
  <style type="text/css">
  <!--
   .tab { margin-left: 40px; }
  -->
  </style>
</head>
<body>
  <br />
  <br />
  <div class = "tab">
    <p class="jb-x-large"> 従業員一覧 </p>
  </div>
  
  <table style="width: 90%;" align = "center" >
    <tr align = "center">

      <td>	<b>	従業員番号	</b>	</td>
      <td>	<b>	氏名	</b>	</td>
      <td>	<b>	氏名（ローマ字）	</b>	</td>
      <td>	<b>	性別	</b>	</td>
      <td>	<b>	生年月日	</b>	</td>
      <td>	<b>	年齢	</b>	</td>
      <td>	<b>	血液型	</b>	</td>
      <td>	<b>	所属組織	</b>	</td>
      <td>	<b>	役職	</b>	</td>

    </tr>
    {% for emp in emplist.all %}
    <tr>
        <td align = "center">  {% if emp.num < 10 %}
          0{{ emp.num }}
          {% else %}
          {{ emp.num }}
          {% endif %}
        </td>
        <td>	<a href="{% url 'detail' emp.num %}">
              {{emp.lname}}{{emp.fname}} </a>	</td>
        <td>	{{emp.elname}}{{emp.efname}}	</td>
        <td align = "center">	{{emp.sex}}	</td>
        <td>	{{emp.birth}}	</td>
        <td align = "center">	{{emp.age}}	</td>
        <td align = "center">	{{emp.bloodtype}}	</td>
        <td>	{{emp.dep}}	</td>
        <td>	{{emp.job}}	</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
